.headerBG {
    background-image: url("../assets/img/ice.jpg");
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    height: 1000px;
}
.redLine {
    position: relative;
    top: 7px;
    border: none;
    border-top: 6px dotted white;
}
.redDiv {
    margin-top: -16px;
    background-color: red;
    height: 20px;
}
.blueLine {
    position: relative;
    top: 7px;
    border: none;
    border-top: 6px dotted white;
    height: 20px;
}
.blueDiv {
    margin-top: -16px;
    background-color: #020079;
    height: 20px;
}
#blueCircle {
    position: relative;
    top: -21px;
    background: blue;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    z-index: 2;
    margin: auto;
}
.headline {
    text-align: center;
    font-size: 30px;
    top: 100px;
    font-family: 'Josefin Sans', sans-serif;
}
#javaheader {
    font-size: 4em;
    font-stretch: expanded;
}
#javascript {
    font: 400 5em/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

